.login-box {
    margin-top: 15%;
    margin-left: 40%;
    display: block;
    height: 100%;
    width: 20%;
}
.title {
    align-items: center;
    color: #086623;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}