<div class="login-box">
    <div class="inner-box"> 
        <div class="title">
            <div>
                <img src="assets/uncc-logo.png" width="75" height="75" class="d-inline-block align-top" alt="uncc-logo">
            </div>
            <div class="title-header"> 
                Golf Cart Service
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <mat-form-field>
                <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password">
            </mat-form-field>
            <div>
                <button class="btn btn-outline-success col-sx-12 col-sm-5" [disabled]="loading" (click)="login()">Login</button>
                <button class="btn btn-outline-success col-sx-12 col-sm-5 ml-sm-2" routerLink="/register">Register</button>
            </div>
        </div>
    </div>
</div>
