<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
    <h1 class="h3 mb-0 text-gray-800">My Rides</h1>
  </div>

  <!-- Data Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let col of columns">{{col.title}}</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ride of (service.pageConfig$ | async).data">
      <ng-container *ngFor="let col of columns">
        <ng-container *ngIf="col.field === 'rating'; else baseTmpl">
          <td>
            <ng-container *ngIf="canRate(ride); else baseRateTmpl">
              <button (click)="open(content, ride)" type="button" class="btn btn-success btn-sm">
                Let's Rate!
              </button>
            </ng-container>
            <ng-template #baseRateTmpl>
              <td>{{ride[col.field]}} <ng-container *ngIf="ride['status'] === 'complete'">/ 5</ng-container></td>
            </ng-template>
          </td>
        </ng-container>
        <ng-template #baseTmpl>
          <td><ngb-highlight [result]="ride[col.field]"></ngb-highlight></td>
        </ng-template>
      </ng-container>
    </tr>
    </tbody>
  </table>
  
  <div *ngIf="(service.pageConfig$ | async).total > 0" 
       class="d-flex justify-content-between p-2">
    <div 
      class="dataTables_info" id="dataTable_info" 
      role="status" 
      aria-live="polite">
      Showing {{service.gridState.start}} to {{service.gridState.end}} 
      of {{(service.pageConfig$ | async).total}} entries
    </div>
    <ngb-pagination
      [collectionSize]="(service.pageConfig$ | async).total" 
      [(page)]="service.page" [pageSize]="service.gridState.pageSize">
    </ngb-pagination>
  </div>

</div>

<div *ngIf="service.loading$ | async" class="loading">
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Rate this ride</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex justify-content-center">
    <ngb-rating [(rate)]="currentRate" [starTemplate]="t" max="5"></ngb-rating>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
  
<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>
