.border-left-success {
  border-bottom: .25rem solid #1cc88a!important;
}

.text-gray-800 {
  color: #5a5c69!important;
}

.text-gray-300 {
  color: #dddfeb!important;
}

.material-icons.md-70 { 
  font-size: 70px; 
}