<div class="register-box">
    <div class="inner-box"> 
        <div style="display: block">
            <div class="title">
                <div>
                    <img src="assets/uncc-logo.png" width="75" height="75" class="d-inline-block align-top" alt="uncc-logo">
                </div>
                <div class="title-header"> 
                    Golf Cart Service
                </div>
            </div>
            <div>
              <h5>Registration Form:</h5>
            </div>
        </div>

        <div class="registration-form">
          <!-- <div style="display: flex; flex-direction: row">
            <mat-form-field>
              <input matInput placeholder="First Name">
            </mat-form-field>
            <div style="width: 2em">
            </div>
            <mat-form-field>
              <input matInput placeholder="Last Name">
            </mat-form-field>
          </div> -->
          <mat-form-field>
            <input matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter your phone number">
          </mat-form-field>          
          <mat-form-field>
            <input matInput placeholder="Enter your uncc email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <button class="btn btn-outline-success col-sx-12 col-sm-5" [disabled]="loading" routerLink="/login">Register</button>
          <button class="btn btn-outline-success col-sx-12 col-sm-5 ml-sm-2" routerLink="/login">Cancel</button>
        </div>
    </div>
</div>
